*{
    margin:0;
    padding:0;
}
body{
    background-color: #548687;
    text-align: center;
}
.container{
    height:70vh;
    /* border:2px solid grey; */
    display:flex;
    justify-content: center;
    align-items: center;
}
.game{
    height:60vh;
    width:60vmin;
    border:2px solid grey;
    display:flex;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center;
    gap:1.5vmin;              /*this wiil distribue the space evenly between the boxes. */
   /* position:relative; */
}
.box{
    height:18vmin;  /* vmin is also like the viewport height.*/
    width:18vmin;
    border-radius: 1rem;
    border:none;
    box-shadow: 10px 5px 1rem rgba(0,0,0,0.5);
    font-size:8vmin;
    background-color: cornflowerblue;
}
#res{
    height:2rem;
    width:5rem;
    font-size: 1rem;
    border:none;
    font-size: large;
    background-color: black;
    color:aliceblue;
    border-radius:4px;
}
#newgame{
    height:2rem;
    width:7rem;
    font-size: 1rem;
    border:none;
    font-size: large;
    background-color: black;
    color:aliceblue;
    border-radius:4px;
}
p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 5vmin;
    color:greenyellow;
   
}
.msgContainer{
    height:100vmin;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; /* to align items vertically */
    gap:4rem;  /*space between the elements */
}
.hide{
    display:none;
}